---
// set props
const { href } = Astro.props;
---

<div class="mt-7 grid gap-3 w-full sm:inline-flex">
    <a
        class="btn-brand btn-lg"
        href={href}
    >
        <slot />
        <svg
            class="icon-sm"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
        >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 18 6-6-6-6"></path>
        </svg>
    </a>
</div>
