---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import PrimaryArrowButton from "../components/buttons/PrimaryArrowButton.astro";

---

<!-- Page Layout -->
<Layout title="About Us">
    <Container>
        <!-- About -->
        <div class="max-w-4xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 mx-auto">
            <div class="max-w-10xl mt-12">

                <!-- Content -->
                <div class="space-y-5 md:space-y-6">
                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">Who Are We?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We are a research and development firm based in Long Beach, California. We design and develop interconnected electronic systems for private parties.
                    </p>

                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">What is Our Mission?</h1>
                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Empower businesses and individuals with hardware and software solutions for meaningful problems. 
                    </p>

                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">What Differentiates Us?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        <ul>
                            <li class="text-lg dark:text-white">- <b>End-To-End Support</b>: We support our clients from day one to after the project is done</li>
                            <li class="text-lg dark:text-white">- <b>Money Back Guarantee</b>: If we fail to meet your requirements, you get your money back</li>
                            <li class="text-lg dark:text-white">- <b>Extensive Network</b>: Our extensive talent and partner network helps our clients scale and grow </li>
                            <li class="text-lg dark:text-white">- <b>Customer Service</b>: We prioritize providing the best service to our clients</li>
                            <li class="text-lg dark:text-white">- <b>Late Fees</b>: We are held liable for any late deliveries</li>"
                        </ul>
                    </p>

                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">What is Our Guiding Philosophy?</h1>
                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        <ol>
                            <li class="text-lg dark:text-white">1. <b>People over Profits</b>: We view our clients as people not potential revenue</li>
                            <li class="text-lg dark:text-white">2. <b>Efficiency</b>: We are passionate about doing more with less </li>
                            <li class="text-lg dark:text-white">3. <b>Collaboration</b>: We work best when we work together</li>
                            <li class="text-lg dark:text-white">4. <b>Communication</b>: We stay connected with our clients</li>
                            <li class="text-lg dark:text-white">5. <b>Discretion</b>: We value the privacy of our clients and their ideas </li>
                            <li class="text-lg dark:text-white">6. <b>Ownership</b>: We take pride in our work</li>
                            <li class="text-lg dark:text-white">7. <b>Intentionality</b>: We make reasoned and thought-out decisions</li>
                            <li class="text-lg dark:text-white">8. <b>Simplicity</b>: We strive for simplicity in our work</li>
                            <li class="text-lg dark:text-white">9. <b>Frugality</b>: We value value</li>
                            <li class="text-lg dark:text-white">10. <b>Do No Harm</b>: We do not develop weapons</li>
                        </ol>
                    </p>

                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">What Can We Do?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our passionate and talented multi-disciplinary team can take on projects in nearly all domains.
                    </p>

                    <h2 class="text-xl font-bold md:text-2xl dark:text-white">Design</h2>
                    
                    <ul>
                        <li class="text-lg dark:text-white">- <b>Electronics</b>: High Power, Digital, Analog, and Mixed Signal Systems</li>
                        <li class="text-lg dark:text-white">- <b>Software/Firmware</b>: Embedded (IoT), Web, Desktop, and Mobile Applications</li>
                        <li class="text-lg dark:text-white">- <b>Mechanical</b>: Plastic and Metal Assemblies</li>
                    </ul>

                    <h2 class="text-xl font-bold md:text-2xl dark:text-white"> Manufacturing</h2>
                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our state of the art facility enables us to assemble our own electronics as well as manufacture a bevy of supporting components and enclosures. 
                        All prototypes are produced in-house as much as possible

                        We have good relationships with domestic and international manufacturers and assemblers. We enjoy 
                    </p>
                    <PrimaryArrowButton href="/services">View Our Services</PrimaryArrowButton>

                    <h2 class="text-xl font-bold md:text-2xl dark:text-white"> Manufacturing</h2>
                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our state of the art facility enables us to assemble our own electronics as well as manufacture a bevy of supporting components and enclosures.
                    </p>
                    <PrimaryArrowButton href="/services">View Our Services</PrimaryArrowButton>
                
                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">Who Do We Work With?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our clients are mainly small to medium business in the following domains:
                    </p>

                    <ul>
                        <li class="text-lg dark:text-white">- Automotive</li>
                        <li class="text-lg dark:text-white">- Robotics/Automation</li>
                        <li class="text-lg dark:text-white">- Biomedical Devices</li>
                        <li class="text-lg dark:text-white">- Consumer Electronics</li>
                    </ul>

                </div>
                <!-- End Content -->
            </div>

            <!-- End About -->
        </div>
    </Container>
</Layout>
