---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Quote from "../components/Quote.astro";
import PrimaryArrowButton from "../components/buttons/PrimaryArrowButton.astro";
import Image from "astro/components/Image.astro";
import pcb3 from "../assets/pcb3.jpg";
import code2 from "../assets/code2.jpg";
---

<!-- Page Layout -->
<Layout title="About Us">
    <Container>
        <!-- About -->
        <div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
            <div class="max-w-2xl mt-12">
                <!-- Content -->
                <div class="space-y-5 md:space-y-8">
                    <h2 class="text-2xl font-bold md:text-3xl dark:text-white">Meet Crab Labs</h2>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Crab Labs was founded in 2024 by Orion Serup with the express goal of fixing many of the problems associated with the engineering services industry. 
                    </p>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Crab Labs operates faster and cheaper than other firms while maintaining the same if not higher standards of quality. We achieve these results through our unique business model and client engagement approach. 
                    </p>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We operate on a distributed basis with engineers living and working in various cities throughout the United States. Our primary facility for manufacturing and testing is located in Long Beach, California.

                    </p>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our team is comprised of seasoned professionals and fresh talent, united by a shared vision of
                        transforming ideas into reality. With expertise spanning mechanical, electrical, and software
                        engineering, we possess the versatility to tackle diverse challenges and deliver cutting-edge
                        solutions.
                    </p>

                    <Image class="w-full rounded-xl" src={pcb3} alt={"PCB"} draggable={"false"} format={"jpg"} />

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We are willing and excited to work for companies of any size as well as individuals. There is no job too small for Crab Labs.
                    </p>

                    <PrimaryArrowButton href="/services">View Our Services</PrimaryArrowButton>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Crab Labs has thus far worked with clients in the Biomedical, Industrial, Robotics/Automation, as well as Consumer industry. Our engineers are beyond capable of solving problems in nearly all domains.
                    </p>

                    <!-- <Quote quote="If you're not changing the world, the world is changing you" author=""/> -->

                    <Image
                        class="w-full rounded-xl"
                        src={code2}
                        alt={"Laptop with code"}
                        draggable={"false"}
                        format={"jpg"}
                    />
                    <!-- <h3 class="text-2xl font-semibold dark:text-white">Our Mission</h3> -->

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        At Crab Labs, we understand that success is not just about what we create, but how we
                        create it. That's why we prioritize collaboration, integrity, and customer satisfaction in
                        everything we do. We partner closely with our clients, understanding their unique needs and
                        challenges to deliver tailored solutions that exceed expectations.
                    </p>

                    <h2 class="text-3xl font-bold dark:text-white text-center"><i>Welcome to Crab Labs</i></h2>
                </div>
                <!-- End Content -->
            </div>

            <!-- End About -->
        </div>
    </Container>
</Layout>
