---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Quote from "../components/Quote.astro";
import PrimaryArrowButton from "../components/buttons/PrimaryArrowButton.astro";
import Image from "astro/components/Image.astro";
import pcb3 from "../assets/pcb3.jpg";
import code2 from "../assets/code2.jpg";
---

<!-- Page Layout -->
<Layout title="About Us">
    <Container>
        <!-- About -->
        <div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
            <div class="max-w-2xl mt-12">
                <!-- Content -->
                <div class="space-y-5 md:space-y-8">
                    <h2 class="text-2xl font-bold md:text-3xl dark:text-white">Meet Crab Labs</h2>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Crab Labs was founded with the express goal of fixing many of the problems associated with the product development industry. We are a people centered firm first and foremost.
                    </p>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Crab Labs is owned and operated by its workers. Our workers are passionate, dedicated, and extremely technically gifted. Our team takes pride and direct ownership of their work. 

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We focus on fostering relationships with our clients. We believe that good communication is what separates good firms from great firms. We operate on a foundation of frequent, fluid, and comprehensive communication.
                        This reduces friction and establishes a feedback loop which reduces development time (and thus cost) and ensures the results fully meet or exceed the expectations of the client.
                    </p>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our goal is to work with you, not for you. We seek to tightly integrate with your team and get to know you. Whatever we build, we build for you with you by our side.
                    </p>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We don't believe in withholding information or materials. We provide all source documents as well as extensive generated documentation for every job free of charge. 
                    </p>

                    <Image class="w-full rounded-xl" src={pcb3} alt={"PCB"} draggable={"false"} format={"jpg"} />

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We are willing and excited to work for companies of any size as well as individuals. There is no job too small for Crab Labs.
                    </p>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We have thus far worked with clients in the Biomedical, Industrial, Automotive, Robotics/Automation, as well as Consumer Electronics industry. Our team is beyond capable of solving problems in nearly all domains.
                    </p>
                    
                    <PrimaryArrowButton href="/services">View Our Services</PrimaryArrowButton>

                </div>
                <!-- End Content -->
            </div>

            <!-- End About -->
        </div>
    </Container>
</Layout>
