---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import PrimaryArrowButton from "../components/buttons/PrimaryArrowButton.astro";
import Image from "astro/components/Image.astro";
import pcb3 from "../assets/pcb3.jpg";
import Features from "../components/Features.astro"

---

<!-- Page Layout -->
<Layout title="About Us">
    <Container>
        <!-- About -->
        <div class="max-w-4xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
            <div class="max-w-2xl mt-12">

                <!-- Content -->
                <div class="space-y-5 md:space-y-8">
                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">Who Are We?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We are a engineering and design firm based in Long Beach, California. 
                    </p>

                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">What Makes Us Special?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We are an worker owned and operated firm that operates on a nearly fully remote basis. 
                        This distinction attacts the top engineering and design talent from around the country.
                    </p>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our reduced physical presence significantly reduces operating costs while also improving worker morale. This leads to better work for lest cost in less time. 
                    </p>

                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">What Can We Do?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our passionate and talented multi-disciplinary team can take on projects in nearly all domains.
                    </p>

                    <h2 class="text-xl font-bold md:text-2xl dark:text-white">Design and Development</h2>
                    
                    <ul>
                        <li class="text-lg dark:text-white">- <i><b>Electrical Engineering</b></i>: Power, Digital, and Analog Electronics</li>
                        <li class="text-lg dark:text-white">- <i><b>Software Engineering</b></i> Web, Cloud, Desktop, and Mobile Applications</li>
                        <li class="text-lg dark:text-white">- <i><b>Firmware Engineering</b></i>: Low Level and High Level</li>
                        <li class="text-lg dark:text-white">- <i><b>UI/UX Desktop</b></i> Web, Mobile, and Desktop Applications</li>
                        <li class="text-lg dark:text-white">- <i><b>Mechanical Engineering</b></i> Plastic and Metal Assemblies</li>
                    </ul>

                    <h2 class="text-xl font-bold md:text-2xl dark:text-white"> Manufacturing and Testing </h2>
                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We facilitate as much testing and manufacturing on-site as possible. We have the following equipment/tools as well as expert operators.
                    </p>
                    <ul>
                        <li class="text-lg dark:text-white">- <i><b>Electrical</b></i>: Assembly Stations, Oscilloscopes, Logic Analyzers, VNAs, and Spectrum Analyzers</li>
                        <li class="text-lg dark:text-white">- <i><b>Software</b></i>: In-House Servers</li>
                        <li class="text-lg dark:text-white">- <i><b>Firmware</b></i>: Hardware Emulators, Port and Wireless Sniffers, and Debug Probes</li>
                        <li class="text-lg dark:text-white">- <i><b>Mechanical</b></i>: 3-D Printers (SLA, SLS, and FDM) </li>

                    </ul>

                    <PrimaryArrowButton href="/services">View Our Services</PrimaryArrowButton>
                
                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">Who Do We Work With?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our clients are mainly small to medium business in the following domains:
                    </p>

                    <ul>
                        <li class="text-lg dark:text-white">- Automotive</li>
                        <li class="text-lg dark:text-white">- Robotics/Automation</li>
                        <li class="text-lg dark:text-white">- Industrial</li>
                        <li class="text-lg dark:text-white">- Biomedical Devices</li>
                        <li class="text-lg dark:text-white">- Consumer Electronics</li>
                    </ul>

                    <h1 class="font-bold text-2xl font-bold md:text-3xl dark:text-white">Why Should You Work With Us?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                    <ul>
                        <li class="text-lg dark:text-white">- We take pride in our work</li>
                        <li class="text-lg dark:text-white">- We meet deadlines everytime</li>
                        <li class="text-lg dark:text-white">- We build close relationships with our clients</li>
                        <li class="text-lg dark:text-white">- We value open and honest communication</li>
                        <li class="text-lg dark:text-white">- We work with you, not for you</li>
                        <li class="text-lg dark:text-white">- We provide all source materials and extensive documentation </li>
                    </ul>

                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">When Should You Work With Us?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        <ul>
                            <li class="text-lg dark:text-white">- When you have a product idea but are unable to build it</li>
                            <li class="text-lg dark:text-white">- When you need help finishing a project</li>
                            <li class="text-lg dark:text-white">- When you want honest feedback on your ideas</li>
                            <li class="text-lg dark:text-white">- When you want to accelerate development of your product</li>
                            <li class="text-lg dark:text-white">- When you need help scaling a product</li>
                        </ul>
                    </p>

                </div>
                <!-- End Content -->
            </div>

            <!-- End About -->
        </div>
    </Container>
</Layout>
