---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import PrimaryArrowButton from "../components/buttons/PrimaryArrowButton.astro";
import Image from "astro/components/Image.astro";
import pcb3 from "../assets/pcb3.jpg";
import Features from "../components/Features.astro"

---

<!-- Page Layout -->
<Layout title="About Us">
    <Container>
        <!-- About -->
        <div class="max-w-4xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
            <div class="max-w-2xl mt-12">

                <!-- Content -->
                <div class="space-y-5 md:space-y-8">
                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">Who Are We?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We are a engineering and design firm based in Long Beach, California. 
                    </p>

                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">What is Our Mission?</h1>
                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        To learn as much as possible and help as many people as possible 
                    </p>

                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">What is Our Guiding Philosophy?</h1>
                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        <ol>
                            <li class="text-lg dark:text-white">1. <b>People over Profits</b>: We view clients as people not potential revenue</li>
                            <li class="text-lg dark:text-white">2. <b>Collaboration</b>: We work best when we work together</li>
                            <li class="text-lg dark:text-white">3. <b>Communication</b>: We are open and transparent</li>
                            <li class="text-lg dark:text-white">4. <b>Ownership</b>: We take pride and responsibility in our work</li>
                            <li class="text-lg dark:text-white">5. <b>Intentionality</b>: We make reasoned and thought-out decisions</li>
                            <li class="text-lg dark:text-white">6. <b>Simplicity</b>: We strive for simplicity</li>
                            <li class="text-lg dark:text-white">7. <b>Frugality</b>: We value value</li>
                            <li class="text-lg dark:text-white">8. <b>Do No Harm</b>: We do not participate in war profiteering</li>
                        </ol>
                    </p>

                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">What Can We Do?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our passionate and talented multi-disciplinary team can take on projects in nearly all domains.
                    </p>

                    <h2 class="text-xl font-bold md:text-2xl dark:text-white">Design and Development</h2>
                    
                    <ul>
                        <li class="text-lg dark:text-white">- <i><b>Electrical Engineering</b></i>: Power, Digital, and Analog Circuits</li>
                        <li class="text-lg dark:text-white">- <i><b>Software Engineering</b></i> Web, Cloud, Desktop, and Mobile Applications</li>
                        <li class="text-lg dark:text-white">- <i><b>Firmware Engineering</b></i>: Low Level and High Level</li>
                        <li class="text-lg dark:text-white">- <i><b>UI/UX Engineering:</b></i> Desktop, Web, Mobile, and Desktop Applications</li>
                        <li class="text-lg dark:text-white">- <i><b>Mechanical Engineering</b></i> Plastic and Metal Assemblies</li>
                    </ul>

                    <h2 class="text-xl font-bold md:text-2xl dark:text-white"> Manufacturing and Testing </h2>
                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        We facilitate as much testing and manufacturing on-site as possible. We have the following equipment/tools as well as expert operators.
                    </p>
                    <ul>
                        <li class="text-lg dark:text-white">- <i><b>Electrical</b></i>: Assembly Stations, Oscilloscopes, Logic Analyzers, VNAs, and Spectrum Analyzers</li>
                        <li class="text-lg dark:text-white">- <i><b>Software</b></i>: In-House Servers</li>
                        <li class="text-lg dark:text-white">- <i><b>Firmware</b></i>: Hardware Emulators, Port/Wireless Sniffers, and Debug Probes</li>
                        <li class="text-lg dark:text-white">- <i><b>Mechanical</b></i>: 3-D Printers (SLA, SLS, and FDM, DLP) </li>

                    </ul>

                    <PrimaryArrowButton href="/services">View Our Services</PrimaryArrowButton>
                
                    <h1 class="text-2xl font-bold md:text-3xl dark:text-white">Who Do We Work With?</h1>

                    <p class="text-lg text-gray-800 dark:text-neutral-200">
                        Our clients are mainly small to medium business in the following domains:
                    </p>

                    <ul>
                        <li class="text-lg dark:text-white">- Automotive</li>
                        <li class="text-lg dark:text-white">- Robotics/Automation</li>
                        <li class="text-lg dark:text-white">- Biomedical Devices</li>
                        <li class="text-lg dark:text-white">- Consumer Electronics</li>
                    </ul>

                </div>
                <!-- End Content -->
            </div>

            <!-- End About -->
        </div>
    </Container>
</Layout>
