<!-- Page content container, sets the margins, padding, and max width -->
<div class="max-w-[90rem] mt-5 mx-auto px-4 sm:px-6 lg:px-8 xl:px-12 2xl:px-16">
    <slot />
    <!-- placeholder for external HTML content -->
</div>
