<!-- Page content container, sets the margins, padding, and max width -->
<div class="max-w-[85rem] mt-5 mx-auto px-4 sm:px-6 lg:px-8 bg">
    <slot />
    <!-- placeholder for external HTML content -->
</div>
