<!-- ========== FOOTER ========== -->
<footer class="">
  <div class="">
    <div class="w-full max-w-[85rem] max-w-5xl px-4 xl:px-0 py-10 lg:pt-16 mx-auto">
      <div class="inline-flex items-center">
        <!-- Logo -->
        <p class={`inline-flex text-nowrap items-center gap-x-2 text-xl font-semibold dark:text-white`}>
          <img class="w-10 h-auto" src="/logo.svg" alt="Logo" />
          CRAB LABS
        </p>
        <!-- End Logo -->

        <div class="border-s border-neutral-700 ps-5 ms-5">
          <p class="text-sm text-neutral-400">&copy; 2025 Crab Labs LLC</p>
          <p class="text-sm text-neutral-400 mt-1">
            <a href="tel:+14242715569" class="hover:text-orange-400 transition-colors">(424) 271-5569</a>
            <span class="mx-2">•</span>
            <a href="mailto:contact@crablabs.io" class="hover:text-orange-400 transition-colors">contact@crablabs.io</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
