---
import TraceAnimation from "../components/TraceAnimation.astro";
import Container from "./Container.astro";
import PrimaryArrowButton from "./buttons/PrimaryArrowButton.astro";
---

<!-- Hero -->
<Container>
	<!-- Grid -->
	<div class="grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-20 md:items-center">
		<div>
			<h1
				class="mt-20 block text-3xl font-bold text-slate-800 sm:text-4xl lg:text-5xl lg:leading-tight dark:text-slate-100"
			>
				Get Your Product Built Right the First Time
			</h1>
			<p class="mt-3 text-lg text-slate-600 dark:text-slate-300">
				No failed prototypes. No budget overruns. No junior engineers learning on your dime. Senior engineers who've shipped products at scale, working on your project.
			</p>
			
			<div class="mt-7">
				<PrimaryArrowButton href="/quote">Get Your Project Started</PrimaryArrowButton>
			</div>
		</div>
		<div class="hidden md:block">
			<TraceAnimation />
		</div>
	</div>
	<!-- End Grid -->
</Container>
<!-- End Hero -->
