---
import TraceAnimation from "../components/TraceAnimation.astro";
import Container from "./Container.astro";
import PrimaryArrowButton from "./buttons/PrimaryArrowButton.astro";
---

<!-- Hero -->
<Container>
	<!-- Grid -->
	<div class="grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-20 md:items-center">
		<div>
			<h1
				class="mt-12 block text-4xl font-light text-gray-900 sm:text-5xl lg:text-6xl lg:leading-tight tracking-tight"
			>
				Regulatory-compliant electronic devices from concept to market
			</h1>
			<p class="mt-8 text-xl text-gray-600 leading-relaxed font-light">
				When precision matters, experience delivers.
			</p>
			
			<div class="mt-8">
				<PrimaryArrowButton href="https://cal.com/crablabsllc/consultation">Schedule a Consultation</PrimaryArrowButton>
			</div>
		</div>
		<div class="hidden md:block">
			<TraceAnimation />
		</div>
	</div>
	<!-- End Grid -->
</Container>
<!-- End Hero -->
