---
interface Props {
    quote: string;
    author: string;
}

const { quote, author } = Astro.props;
---

<blockquote class="text-center p-4 sm:px-7">
    <p
        class="text-xl font-medium text-gray-800 md:text-2xl md:leading-normal xl:text-2xl xl:leading-normal dark:text-neutral-200"
    >
        {quote}
    </p>
    <p class="mt-5 text-gray-800 dark:text-neutral-200">{author}</p>
</blockquote>
